---

---

<div class="decl-doc">
  <div class="decl">
    <slot name="decl" />
  </div>
  <div class="doc">
    <slot name="doc" />
  </div>
</div>

<style>
  .decl-doc {
    border: 2px solid var(--sl-color-gray-5);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
  }

  .decl-doc > .decl {
    background-color: var(--sl-color-gray-6);
    border-bottom: 1px solid var(--sl-color-gray-5);
    overflow: hidden;
  }

  .decl-doc > .doc {
    margin: var(--sl-content-gap-y);
  }
</style>

<style is:global>
  .decl-doc > .decl .expressive-code pre {
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    line-height: 1.4;
  }

  .decl-doc > .decl .expressive-code .copy {
    display: none;
  }
</style>
