---
import { getLinkToKey } from "../lib/doc-index";

interface Props {
  src: string;
  section?: string;
}

const { src, section } = Astro.props;
const rawLink = await getLinkToKey(src);

const missing = rawLink === undefined;
const link = rawLink ? rawLink + (section ? "#" + section : "") : "";
---

{
  missing ? (
    <span class="doc-link missing" title={`${src} (missing)`}>
      <slot />
    </span>
  ) : (
    <a class="doc-link" href={link} title={src}>
      <slot />
    </a>
  )
}

<style>
  .doc-link.missing {
    color: var(--cppdoc-color-missing-link);
  }
</style>
