---
interface Props {
  // The expected url of the missing resource
  url?: string;
}
---

<span class="missing" title={Astro.props.url ?? "Missing Resource"}>
  <slot />
</span>

<style>
  .missing {
    color: var(--cppdoc-color-missing-link);
  }
</style>
